/*CSS GERAL*/
body{
    margin: 0;
    background: #80808029;
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}
/*FIM CSS GERAL*/

/*INICIO CSS TOPO*/
.topo{
    width: 100%;
    background-color:#fff;
    height: 55px;  
}

.secao-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imglogo{
    width: 32px;
    height: 32px;
}

.logo-titulo{
    font-size: 24px;
    color: #5d15d1;
    margin: 0 0 0 10px;
}
/*FIM CSS TOPO*/

/*INICIO CSS FORM*/
.fundo-orcamento{
    width: 100%;
    height: auto;
    background-image: url(./img/bahia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.orcamento{
width: 100%;
height: auto;
padding: 50px 0;
}

.orcamento-cabecalho{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5d15d1;
}

.orcamento-logo {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.orcamento-titulo{
    font-size: 14px;
    color: #fff;
    margin: 0 0 0 5px; 
}

.secao-formulario{
    width: 100%;
    background: #fff;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
}

.titulo-form{
    font-size: 22px;
    margin: 0 0 24px 0px; 
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-size: 16px;
}

.formulario input, .formulario select {
    width: 100%;
    height: 32px;
    margin: 10px 0}

    .formulario input {
        padding: 0 5px;
        box-sizing: border-box;
    }
    
    .formulario select {
        padding: 0  3px;
    }
   
.campo-duplo{
    display: flex;
    justify-content: space-between;
}

.campo-duplo div {
    width: calc(50% - 10px);
}

.radio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  
}

.radio div{
    display: flex;
    align-items: center;
    width: 120px;
}

.radio input{
 width: 15px;

}

.radio label{
   margin: 0 0 0 8px; 
}

button{
    width: 160px;
    height: 32px;
    background: #5d15d1;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 12px 0 0 0;

}

/*FIM CSS FORM*/

/*INICIO CSS SECAO-CONTEUD0-OFERTAS-EXPLORE*/
.secao-ofertas, .secao-explore{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 auto ;
}

.titulo-ofertas, .titulo-explore{
    font-size: 20px;
    margin: 0 0 32px 0;
}

.ofertas-descricao, .explore-descricao {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 15px 0;
}

.ofertas-descricao span {
    font-weight: bold;
}

.ofertas-imgs {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}

.oferta-img-principal {
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}

.ofertas-quatro-imagens {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.ofertas-quatro-imagens div {
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
}

.oferta-img-principal img, .ofertas-quatro-imagens img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.oferta-img-principal figcaption, .ofertas-quatro-imagens figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0 0 0 / 50%);
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}

.imgs-natureza {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.img-natureza{
    width: calc(50% - 10px);
    height: 100%;
}

.img-natureza img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-natureza div {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
}

.img-natureza h3 {
    font-size: 16px;
}

.img-natureza p {
    color: grey;
    font-size: 14px;
    margin: 15px 0 0 0px;
}

/*FIM CSS SECAO-CONTEUD0-OFERTAS-EXPLORE*/

/*CSS RODAPE*/
footer {
    width: 100%;
    background: #5d15d1;
    margin: 32px 0 0 0;
}

.rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.rodape-conteudo {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.rodape-conteudo h2 {
    color: #fff;
    margin: 0 0 15px 0;
    font-size: 20px;
}

.rodape-conteudo div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.rodape-conteudo img {
    width: 18px;
}

.rodape-conteudo span {
    color: #fff;
    font-size: 14px;
    margin: 0 0 0 10px;
}

/*FIM CSS RODAPE*/

/*INICIO MEDIA QUERIES*/

@media(max-width: 1100px)
{
    .container {
        width: 90%;
    }
}

@media(max-width: 768px)
{
   .secao-formulario button {
        width: 100%;
    }

    .ofertas-imgs {
        height: 100%;
        flex-direction: column;
    }

    .ofertas-quatro-imagens {
        width: 100%;
    }

    .oferta-img-principal, .ofertas-quatro-imagens div {
        width: 100%;
        height: 225px;
        margin: 15px 0 0 0;
    }

    .imgs-natureza {
        flex-direction: column;
    }

    .img-natureza {
        width: 100%;
        margin: 15px 0 0 0;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
    }

    .rodape-conteudo
    {
        width: 250px;
    }
}

@media(max-width: 540px)
{
    .campo-duplo, .radio {
        flex-direction: column;
    }

    .campo-duplo div, .radio div {
        width: 100%;

    }

/*FIMM MEDIA QUERIES*/